<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <div>
        <h1>header</h1>
            <div>
                <form action="/action_php" target="blank" method="get">
                    <input type="text" id="task" name="task" vlaue="To do's"><br> 
                    <input type="submit" value="add"
                </form>
            </div>
            <div>
            </div>
    </div>
</body>
</html>